<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="pages/button/button.css")
	link(rel="stylesheet", href="pages/button/triangle.css")
	
body
	.trapezoid-left.window-left.rotatey
		.triangle-bottomleft
		.rectangular.select-container
			.select-list
				.select-item
					|折线图
				.select-item
					|柱状图
				.select-item
					|饼形图

		.triangle-topleft
	//- .trapezoid-top
	//- 	.triangle-topright
	//- 	.rectangular
	//- 	.triangle-top-left


	script(type="text/javascript" src="./../../widgets/jquery/jquery.js")
	script(src="pages/button/button.js")
	
	