<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title canvas for arc
body
	canvas.process(width="48px", height="48px") 61%
	p hello
	script(type="text/javascript" src="./../../widgets/jquery/jquery.js")
	script(src="pages/canvasforarc/canvasforarc.js")